@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@700;800&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  background: #FFFFFF;
}
